body, html {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
.main {
  width: 100%;
  min-height: 100vh;
  padding: 5vh 22vw;
  box-sizing: border-box;
}

.title {
  font-size: 36px;
  margin-top: 0;
}

.loader {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}